{% extends "base_generic.html" %}

{% block title %}
<title>Save Account Information</title>

<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js" integrity="sha256-/H4YS+7aYb9kJ5OKhFYPUjSJdrtV6AeyJOtTkw6X72o=" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
  <form action="" method="post" id="form_id">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <input type="button" value="submit" onclick="submit_by_button()">
  </form>

<script>
window.onload = function() {
 const encrypted = document.getElementById("id_password");
  if (encrypted.textContent) {
    var decrypted = CryptoJS.AES.decrypt(encrypted.textContent, "{{ request.user.password }}");
    encrypted.textContent = decrypted.toString(CryptoJS.enc.Utf8);
  };
};

function submit_by_button() {
    const messageBox = document.getElementById("id_password");
    let message = messageBox.value;

    var encrypted = CryptoJS.AES.encrypt(message, "{{ request.user.password }}");
    messageBox.value = encrypted;
    document.getElementById("form_id").submit();
}
</script>
{% endblock %}
