{% extends "base_generic.html" %}

{% block title %}<title>Home Page of Password Manager Website</title>{% endblock %}

{% block content %}
  <h1>Password Manager Home</h1>
  <p>Welcome to Password Manager, a website developed in django that stores your account credentials under encryption in the server, but only decrypts it at your browser.</p>
  <p>Source code available at: <a href="">Github</a></p>
  <p>The following tutorial was used as a basis for most of the Django code: <a href="https://developer.mozilla.org/en-US/docs/Learn/Server-side/Django">Mozilla Developer Network</a></p>

{% endblock %}
